* {
    box-sizing: border-box;
}

body {
    height: 100vh;
    padding: 0px;
    margin: 0px;
    display: flex;
    justify-content: center;
    align-items: center;
}

form {
    background-color: #F5F0EB;
    padding: 20px 15px;
    border-radius: 10px;
}