* {
    box-sizing: border-box;
}

body {
    height: 100vh;
    padding: 0px;
    margin: 0px;
    display: flex;
    justify-content: center;
    align-items: center;
}

form {
    min-height: 70vh;
    min-width: 70vh;
    background-color: #F5F0EB;
    padding: 20px 15px;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    gap: 15px;
    color: #3D3B3C;
}

.form-input-div {
    display: flex;
    align-items: center;
    gap: 10px;
}

.form-input-div > label {
    font-size: 1.3rem;
    flex: 1;
    font-weight: 600;
    align-self: flex-start;
    margin-top: 0.3rem;
}

.form-input-div > .input-div {
    flex: 1;
    display: flex;
    flex-direction: column;
    height: 3.5rem;
}

.form-input-div input {
    font-size: 1.3rem;
    padding: 3px 10px;
    background-color: #FFFFFF;
    border-radius: 10px;
    border: none;
}

input[type="submit"] {
    background-color: #C49A6C;
    border: none;
    border-radius: 10px;
    padding: 5px 15px;
    font-size: 1.3rem;
    font-weight: 700;
    cursor: pointer;
}

input[type="submit"]:hover {
    background-color: #A67C52;
}

div.form-btn-div {
    margin-top: auto;
    display: flex;
    justify-content: center;
}

.error {
    padding-left: 10px;
    font-size: 0.85rem;
    color: #B22222;
    visibility: hidden;
}

.error.error-active {
    visibility: visible;
}

.form-input-div input:has(+ .error-active) {
    border: 2px dashed red;
}

.form-input-div input:has(+ .error-active):focus {
    border: none;
    outline: 2px solid red;
}

.form-input-div input:valid {
    border: none;
    outline: 2px solid green;
}



